* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    background: url('../images/bg-stars.svg');
    background-size: cover;
    background-color: rgb(36, 26, 36);
    display: grid;
    grid-template-rows: 1fr 1.5fr 150px;
}
.wrapper > p:first-child {
    color: white;
    font-size: 27px;
    width: 80%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
    justify-self: center;
    align-self: center;
    cursor: default;
    /* margin-bottom: 45px; */
}
.countersection {
    color: white; /* just temporary */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}
.countersection .main {
    flex: 0 0 max(60px, 18%);
}
.countersection .main .card {
    --card-color: rgb(53, 41, 54);
    background-color: var(--card-color);
    color: rgb(161, 32, 144);
    /* height: 80px; */
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(10vw, 50px);
    /* width: 80px; */
    max-width: 85px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 5px 1px black;
    font-family: Helvetica;
    /* transform: rotateY(-20deg) rotateX(10deg); */
    transform-style: preserve-3d;
    transform-origin: center center;
    cursor: default;
    margin: 0 auto;
}
.countersection .main:hover .card {
    transform: translateY(-12px);
    box-shadow: 0 4px 5px 1px rgba(255, 255, 255, 0.103);
}
.countersection .main:hover p {
    color: white;
}
.countersection .main .card .before { /* Reps the card roller */
    position: absolute;
    width: 100%;
    height: 50%;
    transform-origin: bottom;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    background-color: var(--card-color);
    content: '';
    border-radius: 10px;
    transform: rotateX(40deg);
    /* animation: roll 100ms linear 1s forwards paused; */
}
.countersection .main .card .before.spin {
    animation: roll 600ms linear forwards;
}
@keyframes roll {
    from {
        transform: rotateX(40deg);
    }
    to {
        transform: rotateX(40deg) rotateX(-360deg);
    }
}
.countersection .main .card::after { /* Reps the line shown in the middle */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 4px;
    content: '';
}
.countersection .main p {
    text-align: center;
    margin-top: 18px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial;
    color: rgba(255, 255, 255, 0.452);
    font-weight: 700;
    cursor: default;
}
footer {
    position: relative;
}
footer img.hills {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 200px;
    z-index: 0;
    bottom: 0;
}
footer .imgwrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.imgwrapper img {
    width: 20px;
    height: 20px;
}
.imgwrapper img:hover {
    box-shadow: 0 0 24px 6px black;

}
.imgwrapper img:nth-child(2) {
    margin-left: 6vw;
    margin-right: 6vw;
}
